# Build directories
build/
install/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# Compiled binaries
*.exe
*.out
*.a
*.o
*.obj

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db